<div class="container" >
    <p>personas works!</p>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Nivel</th>
            <th scope="col">Grado</th>
            <th scope="col">Seccion</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let alumno of alumnos">
            <td>{{alumno.nombres}}</td>
            <td>{{alumno.apellidos}}</td>
            <td>{{alumno.telefono}}</td>
            <td>{{alumno.nivel}}</td>
            <td>{{alumno.grado}}</td>
            <td>{{alumno.seccion}}</td>
            <td>{{alumno.direccion}}</td>
            <td>{{alumno.email}}</td>
            <td>
                <button type="button" (click)="editarAlumno(alumno)" class="btn btn-outline-success btn-sm">Editar</button>
                <button type="button" class="btn btn-outline-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
