<div *ngIf= "!isSelected" >
  
  <h4>Personas</h4>

  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="goToHome()" href="#">Home</a>
      <i class="bi bi-arrow-clockwise" (click)="reload()" data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"></i>
    </div>
  </nav>

  <table class="table table-hover" >
      <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">Nivel</th>
          <th scope="col">Grado</th>
          <th scope="col">Seccion</th>
          <th scope="col">Direccion</th>
          <th scope="col">Email</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{alumno.nombres}}</td>
          <td>{{alumno.apellidos}}</td>
          <td>{{alumno.telefono}}</td>
          <td>{{alumno.nivel}}</td>
          <td>{{alumno.grado}}</td>
          <td>{{alumno.seccion}}</td>
          <td>{{alumno.direccion}}</td>
          <td>{{alumno.email}}</td>
          <td>
            <span style="margin-right: 5px;">
              <i class="bi bi-pencil" (click)="editarAlumno(alumno)" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"></i>
            </span>
            <span>
              <i class="bi bi-trash" (click)="eliminarAlumno(alumno.id)" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  <app-edit-persona 
    *ngIf= "isSelected" 
    [inputAlumno] = "alumnoSelected" 
    [(showEditForm)] = "isSelected"
    (refreshPersonas) = "reload()"
  >
  </app-edit-persona>
