<div class="container">
    <div class="row">

      <div class="col-4">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <img src="../../assets/img/student.png" class="rounded float-start me-3" width="70" height="70">
            <h5 class="card-title">Alumnos</h5>
            <h6 class="card-subtitle mb-2 text-muted">150</h6>
            <p class="card-text">5 alumnos registrados hoy</p>
            <div class="text-center">
              <a class="link-dark me-3" routerLink="/personas/alumnos">Alumnos</a>
              <a class="link-dark" routerLink="/personas/alumnos/create">Registrar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <img src="../../assets/img/teacher.png" class="rounded float-start me-3" width="70" height="70">
            <h5 class="card-title">Profesores</h5>
            <h6 class="card-subtitle mb-2 text-muted">100</h6>
            <p class="card-text">10 Profesores registrados hoy</p>
            <div class="text-center">
              <a class="link-dark me-3" routerLink="/personas/profesores">Profesores</a>
              <a class="link-dark" routerLink="/personas/profesores/create">Registrar</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card shadow p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <img src="../../assets/img/father.png" class="rounded float-start me-3" width="70" height="70">
            <h5 class="card-title">Padres</h5>
            <h6 class="card-subtitle mb-2 text-muted">100</h6>
            <p class="card-text">12 padres registrados hoy</p>
            <div class="text-center">
              <a class="link-dark me-3" routerLink="/personas/alumnos">Padres</a>
              <a class="link-dark" routerLink="/personas/alumnos/create">Registrar</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
