<h4 style="margin-bottom: 20px;">{{title}}</h4>
<div class="w-50">
    <form [formGroup]="alumnosForm" (ngSubmit)="submitAlumno()" class="row g-3">
        <!--input text-->

        <div class="form-floating col-md-6">
            <input id="nombres" formControlName="nombres" type="text" class="form-control" id="nombres" placeholder="Nombres"
            [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.nombres.errors }">
            <label class="custom-label" for="nombres">Nombres</label>
            <div *ngIf="submitted && alumnosForm.controls.nombres.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.nombres.errors.required">El Nombre es requerido</div>
                <div *ngIf="alumnosForm.controls.nombres.errors.minlength">El Nombre puede ser menos de 3 caracteres</div>
            </div>
        </div>
        <div class="form-floating col-md-6">
            <input id="apellidos" formControlName="apellidos" type="text" class="form-control" id="apellidos" placeholder="Apellidos"
                    [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.apellidos.errors }">
            <label class="custom-label" for="apellidos">Apellidos</label>
            <div *ngIf="submitted && alumnosForm.controls.apellidos.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.apellidos.errors.required">El Apellido es requerido</div>
                <div *ngIf="alumnosForm.controls.apellidos.errors.minlength">El apellido puede ser menos de 3 caracteres</div>
            </div>
        </div>

        <div class="form-floating col-md-12">
            <input id="email" formControlName="email" type="email" class="form-control" id="email" placeholder="Email addres"
                    [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.email.errors }">
            <label class="custom-label" for="email">Email addres</label>
            <div *ngIf="submitted && alumnosForm.controls.email.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.email.errors.required">El email es requerido</div>
                <div *ngIf="alumnosForm.controls.email.errors.email">No es un email valido</div>
            </div>
        </div>
    
        <!--selects-->
        <div class="form-floating col-md-4">
            <select id="nivel" class="form-select" formControlName="nivel" (change)="onChangeNivel($event)" [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.nivel.errors }">
                <option selected value="">Selecionar Nivel</option>
                <option *ngFor="let nivel of niveles" [value]="nivel.value">{{nivel.label}}</option>
            </select>
            <label class="custom-label" for="nivel">Nivel</label>
            <div *ngIf="submitted && alumnosForm.controls.nivel.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.nivel.errors.required">Debe seleccionar un Nivel</div>
            </div>
        </div>
        <div class="form-floating col-md-4">
            <select id="grado" class="form-select" formControlName="grado" [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.grado.errors }">
                <option selected value="">Selecionar Grado</option>
                <option *ngFor="let grado of grados" [value]="grado.value">{{grado.label}}</option>
            </select>
            <label class="custom-label" for="grado">Grado</label>
            <div *ngIf="submitted && alumnosForm.controls.grado.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.grado.errors.required">Debe seleccionar un Grado</div>
            </div>
        </div>
        <div class="form-floating col-md-4">
            <select id="seccion" class="form-select" formControlName="seccion" [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.seccion.errors }">
                <option selected value="">Selecionar Seccion</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <label class="custom-label" for="seccion">Seccion</label>
            <div *ngIf="submitted && alumnosForm.controls.seccion.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.seccion.errors.required">Debe seleccionar una Seccion</div>
            </div>
        </div>
        <!--text area-->
        <div class="form-floating col-md-12">
            <textarea id="direccion" formControlName="direccion" class="form-control" id="direccion" rows="2" placeholder="Direccion"
                    [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.direccion.errors }"></textarea>
            <label class="custom-label" for="direccion">Direccion</label>
            <div *ngIf="submitted && alumnosForm.controls.direccion.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.direccion.errors.required">La Direccion es requerido</div>
            </div>
        </div>

        <div class="form-floating col-md-4">
            <input id="telefono" formControlName="telefono" type="text" class="form-control" id="telefono" placeholder="Numero Telefono"
                    [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.telefono.errors }">
            <label class="custom-label" for="telefono">Numero Telefono</label>
            <div *ngIf="submitted && alumnosForm.controls.telefono.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.telefono.errors.required">El Numero de Telefono es requerido</div>
                <div *ngIf="alumnosForm.controls.telefono.errors.minlength">El Numero de Telefono no puede ser menos de 6 digitos</div>
            </div>
        </div>
        <!--calendar tipos de fecha-->
        <div class="form-floating col-md-4">
            <input id="fechaNacimiento" formControlName="fechaNacimiento" type="date" (change)="calcularEdad()" class="form-control" placeholder="Fecha Nacimiento"
                    [ngClass]="{ 'is-invalid': submitted && alumnosForm.controls.fechaNacimiento.errors }">
            <label class="custom-label" for="fechaNacimiento">Fecha Nacimiento</label>
            <div *ngIf="submitted && alumnosForm.controls.fechaNacimiento.errors" class="invalid-feedback">
                <div *ngIf="alumnosForm.controls.fechaNacimiento.errors.required">La Fecha Nacimiento es requerida</div>
            </div>
        </div>
        <div class="form-floating col-md-4">
            <label class="custom-label">{{edad}}</label>
        </div>

        <div class="form-floating col-md-6">
            <button type="submit" class="btn btn-outline-success" style="margin-right: 16px;">{{action}}</button> 
            <button (click)="close()" class="btn btn-outline-danger">Cancel</button>
        </div>
    </form>
</div>
